@import "compass/css3";
@import "pan/state/default";

.ui-multiselect {
    white-space: nowrap;
    height: 32px;
    padding-right: 16px;
    .ui-icon {
        float: right;
    }
}

.ui-multiselect-single {
    .ui-multiselect-checkboxes {
        input {
            position: absolute !important;
            top: auto !important;
            left: -9999px;
        }
        label {
            padding: 5px !important;
        }
    }
}

.ui-multiselect-header {
    margin-bottom: 3px;
    padding: 3px 0 3px 4px;
    ul {
        font-size: 0.9em;
    }
    li {
        float: left;
        padding: 0 10px 0 0;
        &.ui-multiselect-close {
            float: right;
            text-align: right;
            padding-right: 0;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .ui-icon {
        float: left;
        margin-right: 5px;
    }
}

.ui-multiselect-menu {
    display: none;
    padding: 3px;
    position: absolute;
    z-index: 10000;
    text-align: left;
    @extend %state-default;
    @include border-top-left-radius(0);

    label {
        cursor: pointer;
    }

    .ui-widget-header {
        @extend %state-title-alternative;
    }
}

.ui-multiselect-checkboxes {
    position: relative; /* fixes bug in IE6/7 */
    overflow-y: auto;
    max-height: 250px;
    margin-bottom: 10px;
    label {
        cursor: default;
        display: block;
        border: 1px solid transparent;
        padding: 3px 1px;
        input {
            position: relative;
            top: 1px;
        }
    }
    li {
        clear: both;
        font-size: 0.9em;
        padding-right: 3px;
        &.ui-multiselect-optgroup-label {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid;
            a {
                display: block;
                padding: 3px;
                margin: 1px 0;
                text-decoration: none;
            }
        }
    }
}

